<h2>Lista Empleados</h2>
<table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empleado of empleados">
         <td>{{empleado.nombre}}</td>
         <td>{{empleado.apellido}}</td>
         <td>{{empleado.email}}</td>
         <td>
             <button (click)="actualizarEmpleados(empleado.id)" class="btn btn-info">Editar</button>
             <button (click)="eliminarEmpleados(empleado.id)" class="btn btn-danger" style="margin-left : 10px">Eliminar</button>
             <button (click)="verDetallesEmpleados(empleado.id)" class="btn btn-primary" style="margin-left : 10px">Ver Detalles</button>
         </td>
    </tr>
</tbody>
</table>