<h3>Detalles de Departamento</h3>
<div>
    <div>
        <label><b>ID:</b> {{departamento.id}}</label>
    </div>
    <div>
        <label><b>Nombre:</b> {{departamento.nombre}}</label>
    </div>
    <div>
        <label><b>Apellido:</b> {{departamento.descripcion}}</label>
    </div>
    <div>
        <label><b>E-mail:</b> {{departamento.telefono}}</label>
    </div>
    <div>
        <button (click)="goBack()" class="btn btn-primary" style="margin-left : 10px">Ir atrás</button>
    </div>
</div>