<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<ul class="navbar-nav">
   <li class="nav-item">
      <a routerLink="empleados" routerLinkActive="active" class="nav-link">Lista empleados</a>
   </li>
   <li class="nav-item">
      <a routerLink="registrar-empleado" routerLinkActive="active" class="nav-link">Registrar empleado</a>
   </li>
   <li class="nav-item">
      <a routerLink="departamentos" routerLinkActive="active" class="nav-link">Lista departamentos</a>
   </li>
   <li class="nav-item">
      <a routerLink="registrar-departamentos" routerLinkActive="active" class="nav-link">Registrar departamento</a>
   </li>
   <li class="nav-item">
      <a routerLink="empresas" routerLinkActive="active" class="nav-link">Lista empresas</a>
   </li>
   <li class="nav-item">
      <a routerLink="registrar-empresas" routerLinkActive="active" class="nav-link">Registrar empresa</a>
   </li>
</ul>
</nav>

<h1 class="text-center">{{title}}</h1>


<div class="container">
   <router-outlet></router-outlet>
</div>